<app-carousel></app-carousel>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <!-- <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image"> -->
            <fa-icon class="home-svg" [icon]="faFileCode"></fa-icon>
            <div class="card-body">
              <h4 class="card-title">Templates</h4>
              <p class="card-text">Find the perfect touch.</p>
              <a href="#" class="btn btn-primary">Go to templates</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <fa-icon class="home-svg" [icon]="faBookOpen"></fa-icon>
            <div class="card-body">
              <h4 class="card-title">References</h4>
              <p class="card-text">Find your references when you need it.</p>
              <a href="#" class="btn btn-primary">Go to references</a>
            </div>
          </div>
        </div>
    </div>
</div>