<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" [formControl]="email" placeholder="Enter email" id="email"  autocomplete="off">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password" [formControl]="password" placeholder="Enter password" id="pwd"  autocomplete="off">
        </div>
        <button type="submit" (click)="registerUser()" class="btn btn-primary">Submit</button>
    </div>
</div>